body{
    background-image: url("../images/BackgroundImage.png");
}

h1 {
    background-color: #c8702f;
    font-size: 36px;
    color: white;
    padding: 20px;
    width: 300px;
    margin: 20px;
    text-align: center;
}

.gameRules{
    color: #78957a;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px; 
}

#gameRules{
    background-color: #fae6ce;
    margin-left: 20px;
    width: 500px;
}

#lastRuleParagraph{
    padding-bottom: 150px;
}